<!DOCTYPE html>
<link rel="stylesheet" href="/static/css/bootstrap.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team DropTable's Amazing TA Scheduling App</title>
</head>
<body class="text-center" class="center-block">
<div class="col-auto text-center">
    <h1>TA Scheduler</h1>
    <h2><small>Create Courses</small></h2>
</div>
<div>
    <form class="text-center" style="text-align: center" action="/makeCourse/" method="post">
            <div>
                <div class="row justify-content-center">
                    <div class="col-auto">

                          {% csrf_token %}

                        <table class="table table-responsive">
                            <div class="form-group">
                                <label value="t2" for="InputCourseCode"><input type="text" name="InputCourseCode" class="form-control" id="InputCourseCode" placeholder="Course Code" required> </label>
                            </div>
                            <div class="form-group">
                              <label value="t2" for="InputCourseNumber"><input type="text" name="InputCourseNumber" class="form-control" id="InputCourseNumber" placeholder="Course Number" required> </label>
                            </div>
                            <div class="form-group">
                              <label value="t2" for="InputInstructor"><select id = "InputInstructor" name = "InputInstructor" class="form-control" >
                                                <option>  </option>
                                              {% for row in users %}
                                                <option>{{ row.IDNumber }} | {{ row.name }} </option>
                                              {% endfor %}
                                            </select> </label>
                            </div>

                        </table>

                              <button type="submit" class="btn btn-primary my-2 my-sm-0">Add Course</button>
                                {{ message }}
                                <a href="/courses">
                                Back
                                </a>
                    </div>
                </div>
            </div>
        </form>


</div>





</body>
</html>