<!DOCTYPE html>
<link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="stylesheet" href="/static/css/custom.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team DropTable's Amazing TA Scheduling App</title>
</head>
<body class="text-center" class="center-block">
<div class="col-auto text-center">
    <h1>TA Scheduler</h1>
    <h2><small>Create Skill for Skill Pool</small></h2>
</div>
<div>
    <form class="text-center" style="text-align: center" action="/addSkillSup/" method="post">
            <div>
                <div class="row justify-content-center">
                    <div class="col-auto">
                          {% csrf_token %}
                        <table class="table table-responsive">


                            <div class="form-group">
                              <input type="text" name="InputSkill" class="form-control" id="InputSkill" placeholder="New Skill" required>
                            </div>
                        </table>

                              <button type="submit" class="btn btn-primary my-2 my-sm-0">Add Skill</button>
                                {{ message }}
                                <a href="/users">
                                Back
                                </a>
                    </div>
                </div>
            </div>
        </form>


</div>

</body>
</html>