{% load custom_tags %}
<!DOCTYPE html>
 <link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="stylesheet" href="/static/css/custom.css">
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <title>Team DropTable's Amazing TA Scheudling App</title>
</head>
<body class="text-center" class="center-block">


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">TA Scheduler</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mainNav">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/courses">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sections">Sections</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      {{ name }}&nbsp;&nbsp;
      <a class="btn btn-primary"  href="/">Logout</a>
    </form>
  </div>
</nav>

{% if role == "Supervisor" %}

<div class="row justify-content-center" >
    <div class="col-auto">
        <table class = "table table-responsive">
            <thead class="thead-light">
                <tr class="text-left">
                    <th>ID Number</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Role</th>
                    <th>User Skills</th>

                </tr>
            </thead>


            <tbody>
                <tr class="text-left table-primary" >
                        <td>{{ loggedUser.IDNumber }}</td>
                        <td>{{ loggedUser.name }}</td>
                        <td>{{ loggedUser.address }}</td>
                        <td>{{ loggedUser.email }}</td>
                        <td>{{ loggedUser.phoneNumber }}</td>
                        <td>{{ loggedUser.role }}</td>
                        <td>{{ loggedUserSkills }}</td>
                </tr>
                {% for row in instructors %}
                    <tr class="text-left">
                        <td>{{ row.IDNumber }}</td>
                        <td>{{ row.name }}</td>
                        <td>{{ row.address }}</td>
                        <td>{{ row.email }}</td>
                        <td>{{ row.phoneNumber }}</td>
                        <td>{{ row.role }}</td>
                        <td>{{ skills|get_item:row.IDNumber }}</td>
                    </tr>

                {% endfor %}

            </tbody>



        </table>
    </div>
</div>

{% endif %}


{% if role != "Supervisor" %}

<div class="row justify-content-center" >
    <div class="col-auto">
        <table class = "table table-responsive">
            <thead class="thead-light">
                <tr class="text-left">
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Skills</th>

                </tr>
            </thead>


            <tbody>
                <tr class="text-left table-primary" >
                    <td>{{ loggedUser.name }}</td>
                    <td>{{ loggedUser.email }}</td>
                    <td>{{ loggedUser.role }}</td>
                    <td>{{ loggedUserSkills }}</td>
                </tr>

                {% for row in instructors %}

                    <tr class="text-left">
                        <td>{{ row.name }}</td>
                        <td>{{ row.email }}</td>
                        <td>{{ row.role }}</td>
                    </tr>

                {% endfor %}

            </tbody>



        </table>
    </div>
</div>

{% endif %}
<div class="user-button-container">
{% if role == "Supervisor" %}


    <p><a href="/makeUser" class="btn btn-primary btn-block" role="button">Add User</a></p>
    <p><a href="/removeUser" class="btn btn-primary btn-block" role="button">Remove User</a></p>



{% endif %}


    <p><a href="/editContactInfo" class="btn btn-primary btn-block" role="button">Edit Account Info</a></p>


{% if role == "TA" %}

    <p><a href="/addSkills" class="btn btn-primary btn-block" role="button">Add Skills</a></p>

{% endif %}

{% if role == "Supervisor" %}

    <p><a href="/addSkillSup" class="btn btn-primary btn-block" role="button">Add Skills</a></p>

{% endif %}

</div>
{{ message }}
</body>
</html>