<!DOCTYPE html>
<link rel="stylesheet" href="/static/css/bootstrap.css">

<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <title>Team DropTable's Amazing TA Scheduling App</title>
</head>
<body class="text-center" class="center-block">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">TA Scheduler</a>
  <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#mainNav">
        <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="mainNav">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/courses">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">Users</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      {{ name }}&nbsp;&nbsp;
      <a class="btn btn-primary"  href="/">Logout</a>
    </form>
  </div>
</nav>


<div class="row justify-content-center" >
    <div class="col-auto">
        <table class = "table table-responsive">
            <thead>
                <tr>

                    <th>Section Code</th>
                    <th>Course Number</th>
                    <th>Course Instructor</th>
                    <th>TA</th>

                </tr>
            </thead>


            <tbody>
                {% for row in sections %}
                    <tr>
                        <td>{{ row.sectionCode }}</td>

                        <td>{{ row.parentCode.courseNumber }}</td>
                        <td>{{ row.parentCode.instructorID.name }}</td>
                        <td>{{ row.TA.name }}</td>
                    </tr>

                {% endfor %}

            </tbody>



        </table>
    </div>
</div>
{% if role == "Supervisor" %}
<div>
    <div>
            <a href="/makeSection">
            <button type="submit" class="btn btn-primary my-2 my-sm-0">Add Section</button>
            </a>
        </div></br>
        {% csrf_token %}


        <div>
        {% csrf_token %}
        <a href="/removeSection">
          <button type="submit" class="btn btn-primary my-2 my-sm-0">Remove Section</button>
        </a>
        </div>

</div>
{% endif %}
{{ message }}
</body>
</html>