<!DOCTYPE html>
<link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="stylesheet" href="/static/css/custom.css">
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <title>Team DropTable's Amazing TA Scheduling App</title>
</head>
<body class="text-center" class="center-block">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">TA Scheduler</a>
  <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#mainNav">
        <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="mainNav">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/courses">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">Users</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      {{ name }}&nbsp;&nbsp;
      <a class="btn btn-primary"  href="/">Logout</a>
    </form>
  </div>
</nav>


<div class="row justify-content-center" >
    <div class="col-auto">
        <table class = "table table-responsive">
            <thead class="thead-light">
                <tr class="text-left">
                    <th>Section Code</th>
                    <th>Course Number</th>
                    <th>Course Instructor</th>
                    <th>TA</th>

                </tr>
            </thead>


            <tbody>
                {% for row in sections %}
                    <tr class="text-left">
                        <td>{{ row.sectionCode }}</td>

                        <td>{{ row.parentCode.courseNumber }}</td>
                        <td>{{ row.parentCode.instructorID.name }}</td>
                        <td>{{ row.TA.name }}</td>
                    </tr>

                {% endfor %}

            </tbody>



        </table>
    </div>
</div>
{% if role == "Supervisor" or role == "Instructor"%}
    <div class="course-button-container">

        {% if role == "Supervisor"%}
        <p>
            <a href="/makeSection" class="btn btn-primary btn-block">
            Add Section
            </a>
        </p>
        {% endif %}

        {% csrf_token %}

        {% if role == "Supervisor"%}
        <p>
            <a href="/removeSection" class="btn btn-primary btn-block">
            Remove Section
            </a>
        </p>
        {% endif %}

        <p>
            <a href="/addTAsec3" class="btn btn-primary btn-block">
            Add TA to Section
            </a>
        </p>

        <p>
            <a href="/removeTAsec" class="btn btn-primary btn-block">
            Remove TA from Section
            </a>
        </p>


    </div>
{% endif %}
{{ message }}
</body>
</html>