<!DOCTYPE html>
 <link rel="stylesheet" href="/static/css/bootstrap.css">
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <title>Team DropTable's Amazing TA Scheudling App</title>
</head>
<body class="text-center" class="center-block">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">TA Scheduler</a>
  <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#mainNav">
        <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="mainNav">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sections">Sections</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      {{ name }}&nbsp;&nbsp;
      <a class="btn btn-primary"  href="/">Logout</a>
    </form>
  </div>
</nav>

<div class="row justify-content-center" >
    <div class="col-auto">
        <table class = "table table-responsive">
            <thead>
                <tr>
                    <th>Course Code</th>
                    <th>Course Number</th>
                    <th>Instructor</th>

                </tr>
            </thead>


            <tbody>
                {% for row in courses %}
                    <tr>
                        <td>{{ row.courseCode }}</td>
                        <td>{{ row.courseNumber }}</td>
                        <td>{{ row.instructorID.name }}</td>
                    </tr>

                {% endfor %}

            </tbody>



        </table>
    </div>
</div>
</div>
{% if role == "Supervisor" %}
    <div>
        <div>
            <a href="/makeCourse">
                <button type="submit" class="btn btn-primary my-2 my-sm-0">Add Course</button>
            </a>
        </div>
        <br>
        {% csrf_token %}


        <div>
            {% csrf_token %}
            <a href="/removeCourse">
                <button type="submit" class="btn btn-primary my-2 my-sm-0">Remove Course</button>
            </a>
        </div>
        <br>
        <div>
            <a href="/addInstructor">
                <button type="submit" class="btn btn-primary my-2 my-sm-0">Add Instructor to Course</button>
            </a>
        </div>
        <br>
        {% csrf_token %}

        <div>
            <a href="/removeInstructor">
                <button type="submit" class="btn btn-primary my-2 my-sm-0">Remove Instructor from Course</button>
            </a>
        </div>
        <br>
        {% csrf_token %}

        <div>
            <a href="/addTA">
                <button type="submit" class="btn btn-primary my-2 my-sm-0">Add TA to Course</button>
            </a>
        </div>

         <br>
        {% csrf_token %}

        <div>
            <a href="/removeTA">
                <button type="submit" class="btn btn-primary my-2 my-sm-0">Remove TA from Course</button>
            </a>
        </div>

        </br>
        {% csrf_token %}


    </div>
{% endif %}



{{ message }}
</body>
</html>