{% load custom_tags %}
<!DOCTYPE html>
 <link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="stylesheet" href="/static/css/custom.css">
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <title>Team DropTable's Amazing TA Scheudling App</title>
</head>
<body class="text-center" class="center-block">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">TA Scheduler</a>
  <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#mainNav">
        <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="mainNav">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sections">Sections</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      {{ name }}&nbsp;&nbsp;
      <a class="btn btn-primary"  href="/">Logout</a>
    </form>
  </div>
</nav>

<div class="row justify-content-center" >
    <div class="col-auto">
        <table class = "table table-responsive">
            <thead>
                <tr class="text-left">
                    <th>Course Code</th>
                    <th>Course Number</th>
                    <th>Instructor</th>
                    <th>Sections</th>

                </tr>
            </thead>


            <tbody>
                {% for row in courses %}
                    <tr class="text-left">
                        <td>{{ row.courseCode }}</td>
                        <td>{{ row.courseNumber }}</td>
                        <td>{{ row.instructorID.name }}</td>
                        <td>{{ sections|get_item:row.courseCode }}</td>
                        {% comment %}
                        list(sections.filter(parentCode = row.courseCode))
                        {% expr   as var1%}
                        {% expr "".join(var1) as var2 %}
                        <td>{{ var2 }}</td>
                        {% endcomment %}




                    </tr>

                {% endfor %}

            </tbody>



        </table>
    </div>
</div>
</div>
{% if role == "Supervisor" %}
    <div class="course-button-container">

        <p>
            <a href="/makeCourse" class="btn btn-primary btn-block">
            Make New Course
            </a>
        </p>

        {% csrf_token %}


        <p>
            {% csrf_token %}
            <a href="/removeCourse"  class="btn btn-primary btn-block">
            Remove Course
            </a>
        </p>

        <p>
            <a href="/addInstructor" class="btn btn-primary btn-block">
            Add Instructor to Course
            </a>
        </p>

        {% csrf_token %}

        <p>
            <a href="/removeInstructor" class="btn btn-primary btn-block">
            Remove Instructor from Course
            </a>
        </p>

        {% csrf_token %}

        <p>
            <a href="/addTA" class="btn btn-primary btn-block">
            Add TA to Course
            </a>
        </p>


        {% csrf_token %}

        <p>
            <a href="/removeTA" class="btn btn-primary btn-block">
            Remove TA from Course
            </a>
        </p>


        {% csrf_token %}


    </div>
{% endif %}



{{ message }}
</body>
</html>