<!DOCTYPE html>
<link rel="stylesheet" href="/static/css/bootstrap.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team DropTable's Amazing TA Scheduling App</title>
</head>
<div class="col-auto text-center">
    <h1>TA Scheduler</h1>
    <h2><small>Remove Course</small></h2>
</div>
<body>
<div class="row justify-content-center" >
    <div class="col-auto">
        <table class = "table table-responsive">
            <thead>
                <tr>
                    <th>Course Code</th>
                    <th>Course Number</th>
                    <th>Instructor</th>

                </tr>
            </thead>


            <tbody>
                {% for row in courses %}
                    <tr>
                        <td>{{ row.courseCode }}</td>
                        <td>{{ row.courseNumber }}</td>
                        <td>{{ row.instructorID.name }}</td>
                    </tr>

                {% endfor %}

            </tbody>



        </table>
    </div>
</div>
<br>
    <div class="text-center" class="center-block">
     <form class="text-center" style="text-align: center" action="/removeCourse/" method="post">
         {% csrf_token %}
         <div class="form-group">
                              <label value="t2" for="InputCourse"><select id = "InputCourse" name = "InputCourse" class="form-control" required>
                                              {% for row in courses %}
                                                <option>{{ row.courseCode }} </option>
                                              {% endfor %}
                                            </select> </label>
                    <button type="submit" class="btn btn-primary my-2 my-sm-0">Remove Course</button>
                    <a href="/courses">
                        Back
                    </a>
        </div>
     </form>
    <br>
    {{ message }}
    </div>


</body>
</html>