<!DOCTYPE html>
 <link rel="stylesheet" href="/static/css/bootstrap.css">
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <title>Team DropTable's Amazing TA Scheudling App</title>
</head>
<body class="text-center" class="center-block">
<div class="col-auto text-right">
    <table class = "table">
        <form class="text-center" style="text-align: center" action="/" method="post">
            {{ name }}
        <a href="/">
            Logout
        </a>
        </form>
    </table>
</div>
<div class="col-auto text-center">
    <h1>TA Scheduler</h1>
    <h2><small>Home</small></h2>
</div>
    <div>
        <form class="text-center" style="text-align: center" action="/" method="post">
            <div>
                <div class="row justify-content-center">
                    <div class="col-auto center-block">
                          {% csrf_token %}
                        <table class = "table table-responsive">
                            <div class="row">
                                <div class="col-md-4">
                                    <a href="/courses">
                                        Courses
                                    </a>
                                </div>
                                <div class="col-md-1">
                                    |
                                </div>
                                <div class="col-md-3">
                                    <a href="/sections">
                                        Sections
                                    </a>
                                </div>
                                <div class="col-md-1">
                                    |
                                </div>
                                <div class="col-md-2">
                                    <a href="/users">
                                        Users
                                    </a>
                                </div>
                            </div>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
<label>{{ message }}</label>
</body>
</html>